button{

  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color:white;
  font-weight: bold;
  width:200px;
  margin-bottom: 15px;
  border-radius:5px;
  background: darkred;
  text-align: center;


}
h1{
  text-align: center;
  font-family: sans-serif;
}
h2{
  text-align: center;
  font-family: sans-serif;
}
#increment-btn{
  display: block;
  margin: auto;
  margin-top: 5px;
}
#save-btn{
  background: green;
  display: block;
  margin: auto;
  margin-top: 5px;

}
body{
  background-color: #EEEEEE;

}
p{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
}
div{
  margin: auto;
}
